@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import "tailwindcss";
@theme {
    --font-cormorant : "Cormorant Garamond", serif;
}
/* Custom scrollbar styles */
.custom-scrollbar {
  /* For WebKit browsers */
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: oklch(24.008% 0.14118 282.37) #f1f1f1;
}
@custom-variant dark (&:where(.dark, .dark *));
